body{
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Lalezar';
  color: #7371FE;
}

.container {
  max-width: 600px;
}

h1 {
  color: white;
  margin: 3%;
}

img {
  border: 3px solid #7371FE;
  border-radius: 50%;
  width: 63.33px;
}

input {
  border:none;
  border-radius: 10px;
  color: #7371FE;
  margin: 2%;
  padding: 3px;
}

.row {
  transition: background-color 0.5s ease;
  background: #c5b2e8;
  padding: 10px;
  margin: 10px;
  max-height: 93px;
  overflow: hidden;
  border-radius: 25px;
}

.row:hover {
  position:relative;
  background: #7371FE;
  color: white;
}

.logo {
  display:inline-block;
  height: 100%;
  padding:0;
}

.status {
  height: 100%;
  display:inline-block;
  overflow: hidden;
  padding-top: 17px;
  font-size: 20px;
  vertical-align:middle;
  margin-left: 2%; 
}

.game {
    text-overflow: ellipsis;
}

.name {
  display:inline-block;
  height:100%;
  font-size: 20px;
  padding-top: 17px;
  margin-left: 2%;
}


a, a:hover, a:visited, a:focus {
  color: #7371FE;
  text-decoration: none;
  
}

button{
  border-radius: 10px;
  border: none;
  background: white;
  color: #7371FE;
}

.offline {
  border: 5px solid #7371FE;
}

@media only screen and (max-width: 500px) {
  .name {
    font-size: 16px;
  }
   .status {
    font-size: 12px;
  }
}

@media only screen and (max-width: 350px) {
  .name {
    font-size: 12px;
  }
 .status {
    font-size: 12px;
  }
  
}